* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #16222a;
  background: -webkit-linear-gradient(to right, #3a6073, #16222a);
  background: linear-gradient(to right, #3a6073, #16222a);
}
.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.react-chatbot-kit-chat-inner-container {
  height: 470px;
}
.react-chatbot-kit-chat-container {
  width: 50vw;
}
.react-chatbot-kit-chat-header {
  color: whitesmoke;
  font-size: large;
  background: linear-gradient(to right, #3a6073, #16222a);
  display: flex;
  justify-content: center;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 0;
  border: 1px solid rgb(26, 196, 196);
  background: linear-gradient(to right, #3a6073, #16222a);
}
.react-chatbot-kit-chat-bot-message:hover,
.react-chatbot-kit-user-chat-message:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="<http://www.w3.org/2000/svg>" width="20" height="20"><circle cx="10" cy="10" r="8" fill="red" /></svg>'),
    auto;
}

.react-chatbot-kit-chat-message-container {
  background: linear-gradient(to right, #3a6073, #16222a);
  border: 1px solid #3a6073;
  height: 90vh;
}
.react-chatbot-kit-chat-message-container:hover {
  cursor: url(Pic.svg), auto;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid rgb(27, 201, 201);
  left: -10px;
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid rgb(27, 201, 201);
  right: -10px;
}
.react-chatbot-kit-chat-input {
  background-color: #3a6073;
  border: none;
}
.react-chatbot-kit-chat-input:focus,
.react-chatbot-kit-chat-input::placeholder {
  color: white;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  width: 0.3em;
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(13, 13, 13, 0.3);
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar-thumb {
  background-color: #3a6073;
  outline: 1px solid slategrey;
}
.react-chatbot-kit-user-chat-message {
  background: linear-gradient(to right, #3a6073, #16222a);
  color: white;
  border: 1px solid rgb(24, 190, 190);
  max-width: 300px;
  word-wrap: break-word;
}
.react-chatbot-kit-chat-input-container {
  position: relative;
  top: -2vh;
}

.react-chatbot-kit-chat-btn-send {
  background: linear-gradient(to right, #3a6073, #16222a);
  border: 1px solid aqua;
}
.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 35px;
  border: 1px solid rgb(27, 201, 201);
  border-radius: 50%;
  display: flex;
  font-size: 0.9rem;
  background-color: rgb(21, 106, 106);
  color: rgb(255, 255, 255);
}
.Programming_Bot {
  width: 40px;
  height: 35px;
  border: 1px solid rgb(27, 201, 201);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: rgb(21, 106, 106);
  color: rgb(255, 255, 255);
  margin-right: 15px;
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
  .react-chatbot-kit-chat-container {
    height: 95vh;
    width: 100vw;
  }
  .react-chatbot-kit-chat-message-container {
    height: 90vh;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  .react-chatbot-kit-chat-container {
    width: 99vw;
    height: 96vh;
  }
  .react-chatbot-kit-chat-message-container {
    height: 90vh;
  }
}
